.CardList {
    height: calc(100vh - var(--navbar-height));
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.CardList-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

.CardList-sort {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardList-sortSelect {
    width: 8rem;
    margin: 0 1rem;
}